extends menu
block append menu
	
block body
	.content
		.title_wr
			h2 Market cap history of Apple from 2001 to 2023
		img.graph(src='https://i.ibb.co/10JVW3d/graph.png')

block append footer