extends menu
block append menu
	
block body
	.content
		.title_wr
			h2 Largest Companies by Market Cap 
		.main-content
			table#customers
				tr#header_tr
					th Rank
					th Name
					th.remtd Market Cap
					th.remtd Price
					th.remtd Today
					th.remtd Price (30 days)
					th.remtd Country
				+table_row('1', 'https://companiesmarketcap.com/img/company-logos/64/AAPL.webp', 'Apple', 'APPL', '$2.143 T', '$134.76', '+1.01%', 'https://companiesmarketcap.com/img/flags/us.png', 'USA', 'index_3.html')
				+table_row('2', 'https://companiesmarketcap.com/img/company-logos/64/2222.SR.webp', 'Saudi Aramco', '2222.SR', '$1.881 T', '$8.55', '-0.16%', 'https://companiesmarketcap.com/img/flags/sa.png', 'S. Arabia')
				+table_row('3', 'https://companiesmarketcap.com/img/company-logos/64/MSFT.png', 'Microsoft', 'MSFT', '$1.783 T', '$239.23', '+0.30%', 'https://companiesmarketcap.com/img/flags/us.png', 'USA')
				+table_row('4', 'https://companiesmarketcap.com/img/company-logos/64/GOOG.png', 'Alphabet (Google)', 'GOOG', '$1.195 T', '$92.80', '+0.97%', 'https://companiesmarketcap.com/img/flags/us.png', 'USA')
				+table_row('5', 'https://companiesmarketcap.com/img/company-logos/64/AMZN.png', 'Amazon', 'AMZN', '$1.000 T', '$98.12', '+2.99%', 'https://companiesmarketcap.com/img/flags/us.png', 'USA')
				+table_row('6', 'https://companiesmarketcap.com/img/company-logos/64/BRK-B.png', 'Berkshire Hathaway', 'BRK-B', '$700.57 B', '$317.64', '-0.40%', 'https://companiesmarketcap.com/img/flags/us.png', 'USA')
				+table_row('7', 'https://companiesmarketcap.com/img/company-logos/64/V.png', 'Visa', 'V', '$472.35 B', '$223.06', '-0.25%', 'https://companiesmarketcap.com/img/flags/us.png', 'USA')
				+table_row('8', 'https://companiesmarketcap.com/img/company-logos/64/XOM.png', 'Exxon Mobil', 'XOM', '$465.98 B', '$113.15', '-0.06%', 'https://companiesmarketcap.com/img/flags/us.png', 'USA')
				+table_row('9', 'https://companiesmarketcap.com/img/company-logos/64/TCEHY.png', 'Tencent', 'TCEHY', '$458.31 B', '$47.80', '+2.85%', 'https://companiesmarketcap.com/img/flags/cn.png', 'China')
				+table_row('10', 'https://companiesmarketcap.com/img/company-logos/64/UNH.png', 'UnitedHealth', 'UNH', '$457.42 B', '489.57', '-1.23%', 'https://companiesmarketcap.com/img/flags/us.png', 'USA')
				+table_row('11', 'https://companiesmarketcap.com/img/company-logos/64/MSFT.png', 'Microsoft', 'MSFT', '$1.783 T', '$239.23', '+0.30%', 'https://companiesmarketcap.com/img/flags/us.png', 'USA')
				+table_row('12', 'https://companiesmarketcap.com/img/company-logos/64/GOOG.png', 'Alphabet (Google)', 'GOOG', '$1.195 T', '$92.80', '+0.97%', 'https://companiesmarketcap.com/img/flags/us.png', 'USA')
				+table_row('13', 'https://companiesmarketcap.com/img/company-logos/64/AMZN.png', 'Amazon', 'AMZN', '$1.000 T', '$98.12', '+2.99%', 'https://companiesmarketcap.com/img/flags/us.png', 'USA')
				+table_row('14', 'https://companiesmarketcap.com/img/company-logos/64/BRK-B.png', 'Berkshire Hathaway', 'BRK-B', '$700.57 B', '$317.64', '-0.40%', 'https://companiesmarketcap.com/img/flags/us.png', 'USA')
				+table_row('15', 'https://companiesmarketcap.com/img/company-logos/64/V.png', 'Visa', 'V', '$472.35 B', '$223.06', '-0.25%', 'https://companiesmarketcap.com/img/flags/us.png', 'USA')
			.center_button
				a
					button next 15
block append footer